<!DOCTYPE html>
<html>

<body>

    <h2>The method Attribute</h2>

    <p>This form will be submitted using the POST method:</p>

    <form action="/submit" target="_blank" method="post">
        <label for="Physics">Physics:</label><br>
        <input type="text" id="physics" name="Physics" value="0"><br>
        <label for="Chemistry">Chemistry:</label><br>
        <input type="text" id="chemistry" name="Chemistry" value="0"><br>
        <label for="Maths">Maths:</label><br>
        <input type="text" id="maths" name="Maths" value="0"><br>
        <input type="submit" value="Submit">
    </form>

    <p>After you submit, notice that, unlike the GET method, the form values is NOT visible in the address bar of the
        new browser tab.</p>

</body>

</html>